* {
    font-family: "Lemon Milk Regular";
	margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
input, textarea, select {
-webkit-appearance: none;
}
a {
    text-decoration: none;
    color: unset;
}

body, html {
    margin: 0;
    height: 0;
    max-width: 100%;
    width: 100%;
}
body {
    background-color: rgb(255,255,255);
}

@font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url('../png/Lemon Milk Pro Ultra Light.otf');
}

@font-face{
  font-family: Lemon Milk Pro b;
  font-style: bold;
  src: url('../png/Lemon Milk Pro Medium.otf');
}

@font-face{
  font-family: Lemon Milk Regular;
  font-style: bold;
  src: url('../png/Lemon Milk Pro Regular.otf');
}
@font-face{
  font-family: Lemon Milk Pro bb;
  font-style: bold;
  src: url('../png/Lemon Milk Pro Bold.otf');
}


main {
    background-color: transparent;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__central-cnt {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 80%;
    width: 80%;
    min-width: 80%;
    background-color: transparent;
    margin: 40px 0;
}
.main__central-cnt_left {
    display: flex;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    background-color: transparent;
}
.main__central-cnt_right {
    display: flex;
    width: 76%;
    min-width: 76%;
    max-width: 76%;
}
.main__central-right {
    display: flex;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    background-color: transparent;
}
.main__cnt_noflex {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.main__cnt-flex {
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
h2 {
    font-family: 'Lemon Milk Regular';
    color: #979797;
    font-size: 16px;
    margin-bottom: 40px;
}
.right-cnt-header {
    font-size: 28px;
    color: #E5E5E5;
}
.h1courses {
    font-size: 26px;
    color: #4F5665;
}
.main__cnt_filters-pane {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0;
}
.main__cnt_filter_search {
    width: 28%;
    height: 36px;
    background-color: white;
    border: 2px solid #E0E0E0;
    color: grey;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    background-image: url('../png/search.png');
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 5%;
}
.main__cnt_filter {
    width: 30%;
    height: 40px;
    background-color: white;
    background-image: url('../png/arrow-down.png');
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 5%;
    border: 2px solid #E0E0E0;
    color: grey;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    cursor: pointer;
}
.main__cnt_filter > option {
    font-size: 20px;
}
.courses__header-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses__view_cnt {
    border-radius: 25px;
    display: flex;
    border: none;
    height: 2em;
    color: grey;
}
.courses__view_cnt_list {
    font-size: 14px;
    color: grey;
    align-items: center;
    cursor: pointer;
}
.courses-ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.courses-li {
    display: flex;
    height: 270px;
    width: 100%;
    border-radius: 25px;
    border: none;
    background-color: white;
    justify-content: flex-start;
    margin: 30px 0;
    box-shadow: 10px 10px 40px #E0e0e0;
    cursor: pointer;
}
.courses-li__leftcnt {
    width: 25%;
    border-right: none;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.courses-li__rightcnt {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.courses-li__rightcnt-cntr {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
}
.courses__tags-list {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0;
}
.courses__tags-li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    background-color: #F5F5F5;
    color: #4F5665;
    font-size: 10px;
    border-radius: 10px;
    margin-right: 5px;
}
.courses__tags-li_active {
    background-color: #26D07C;
    color: white;
}
h3 {
    width: 100%;
    color: #081F32;
    font-size: 22px;
    margin-bottom: 7px 0;

}
.courses__course-creator {
    font-size: 12px;
    color: lightgrey;
    font-family: 'Lemon Milk Pro';
}
.courses__description {
    font-size: 14px;
    color: #6E798C;
    font-family: 'Lemon Milk Pro';
    padding-right: 40px;
    margin-top: 20px;
    height: 80px;
}
.courses_scale {
    display: flex;
    height: 9px;
    border-radius: 25px;
    background-color: #F1F1F1;
    width: 80%;
}
.courses_scale-progress {
    height: 9px;
    border-radius: 25px;
    background: linear-gradient(to right, #26D07CFF, #26D07C80);
}
.courses_scale-percentage {
    font-size: 20px;
    color: #26D07C;
    padding-left: 20px;
}
.courses_progress_currentlesson {
    font-size: 12px;
    color: #AFB5C0;
    font-family: 'Lemon Milk Pro';
}
.courses_progress-cnt {
    display: flex;
    width: 100%;
    align-items: center;
}
.courses__large-cnt {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.course__info_pane {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.course__info_cnt {
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.lessons__amount {
    padding-left: 40px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../png/playlist.png');
    background-size: 25%;
    color: #6E798C;
}
.complexity__amount {
    padding-left: 30px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../png/user.png');
    background-size: 30%;
    color: #6E798C;
}
.get-started {
    padding-right: 30px;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('../png/right-arrows.png');
    background-size: 15%;
    color: #26D07C;
}
.grey {
    /*
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    */
}
.li-cnt {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.li-cnt_left {
    display: flex;
    width: 85%;
    min-width: 85%;
    align-items: center;
    flex-wrap: wrap;
}
.goals-title {
    font-size: 20px;
    color: #303030;
    width: 100%;
}
.goals-subtitle {
    font-size: 12px;
    color: #686868;
    width: 100%;
}
.edit-goals {
    display: flex;
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    background-image: url('dots.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
}
.green {
    background-color: #26D07C;
    border: 1px solid #E0E0E0;
}
.green-txt {
    color: white;
}

.black {
    color: black;
    padding-bottom: 30px;
}
.grey2 {
    color: #4F5665;
    padding-bottom: 25px;
    font-size: 14px;
}
.blocked {
    cursor: not-allowed;
}
.thin-txt {
    font-family: 'Lemon Milk Pro';
}
.displaynone {
    display: none;
}
.opacity20 {
    opacity: 20%;
    cursor: not-allowed;
}