* {
    font-family: "Lemon Milk Regular";
	margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
button, input, textarea, select {
-webkit-appearance: none;
}
a {
    text-decoration: none;
    color: unset;
}

body, html {
    margin: 0;
    height: 0;
    max-width: 100%;
    width: 100%;
}
body {
    background-color: rgb(255,255,255);
    height: 100vh;
    display: flex;
    justify-content: center;
}

@font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url('../png/Lemon Milk Pro Ultra Light.otf');
}

@font-face{
  font-family: Lemon Milk Pro b;
  font-style: bold;
  src: url('../png/Lemon Milk Pro Medium.otf');
}

@font-face{
  font-family: Lemon Milk Regular;
  font-style: bold;
  src: url('../png/Lemon Milk Pro Regular.otf');
}
@font-face{
  font-family: Lemon Milk Pro bb;
  font-style: bold;
  src: url('../png/Lemon Milk Pro Bold.otf');
}

.faqform__main_cnt {
    height: 100vh;
    width: 80%;
    background-color: #FFFFFF;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.faqform__cnt {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.faqform_header {
    display: flex;
    font-family: 'Lemon Milk Pro b';
    color: #4F5665;
    font-size: 30px;
    padding-top: 40px;
    width: 100%;
    justify-content: center;
}
.faqform_field-block {
    display: block;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.faqform__label {
    font-family: 'Lemon Milk Regular';
    display: block;
    color: #4F5665;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.faqform__select {
    width: 60%;
    height: 50px;
    border: 1px solid lightgray;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Lemon Milk Regular';
    color: #4F5665;
    padding-left: 20px;
    display: block;
    margin: 0 auto;
}
.faqform__input {
    width: 58%;
    height: 50px;
    border: 1px solid lightgray;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Lemon Milk Regular';
    color: #4F5665;
    padding-left: 20px;
    display: block;
    margin: 0 auto;
}
.faqform__input-est {
    display: none;
}
.faqform__textarea {
    width: 57%;
    height: 250px;
    border: 1px solid lightgray;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Lemon Milk Regular';
    color: #4F5665;
    padding: 5px 20px;
    display: block;
    margin: 0 auto;
}
.faqform__textarea2 {
    width: 57%;
    height: 120px;
    border: 1px solid lightgray;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Lemon Milk Regular';
    color: #4F5665;
    padding: 5px 20px;
    display: block;
    margin: 0 auto;
}

.field_block-linked-ilbm {
    display: none;
}
.field_block-linked-dbm {
    display: none;
}
.field_block-linked-kkn {
    display: none;
}
.field_block-linked-kyc {
    display: none;
}
.field_block-linked-dyi {
    display: none;
}
.faqform__stars-block {
    display: none;
}
.field_block-linked-str {
    display: none;
}
.field_block-linked-drw {
    display: none;
}
.faqform__stars-block {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.faqform__star {
    background-image: url('../png/favourite.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.star_1 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s;
}
.star_2 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s;
}
.star_3 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s;
}
.star_4 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s;
}
.star_5 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s;
}
.faqform_button-cnt {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqform__abandon-btn {
    height: 60px;
    width: 150px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #EC3D3D;
    border: 1px solid #EC3D3D;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
}
.faqform__abandon-btn:hover {
    color: white;
    background-color: #EC3D3D;
    transition: .5s;
}
.faqform__proceed-btn {
    height: 60px;
    width: 150px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #26D07C;
    border: 1px solid #26D07C;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
}
.faqform__proceed-btn:hover {
    color: white;
    background-color: #26D07C;
    transition: .5s;
}






.li-cnt {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.li-cnt_left {
    display: flex;
    width: 85%;
    min-width: 85%;
    align-items: center;
    flex-wrap: wrap;
}
.goals-title {
    font-size: 20px;
    color: #303030;
    width: 100%;
}
.goals-subtitle {
    font-size: 12px;
    color: #686868;
    width: 100%;
}
.edit-goals {
    display: flex;
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    background-image: url('dots.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
}
.green {
    background-color: #26D07C;
    border: 1px solid #E0E0E0;
}
.green-txt {
    color: white;
}

.black {
    color: black;
    padding-bottom: 30px;
}
.grey2 {
    color: #4F5665;
    padding-bottom: 25px;
    font-size: 14px;
}
.blocked {
    cursor: not-allowed;
}
.thin-txt {
    font-family: 'Lemon Milk Pro';
}
.displaynone {
    display: none;
}
.opacity20 {
    opacity: 20%;
    cursor: not-allowed;
}
/* Mobile styles*/
.main__central_mobile-menu {
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 1px solid #E0E0E0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}
.main__central_mobile-menu-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.main__central_mobile-menu-centre {
    width: 95%;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 20px;
    height: 120px;
}
.main__central_mobile_profile-cnt {
    width: 80%;
    display: flex;
    height: 100px;
}
.mobile__contacts_cnt {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    height: 45px;
    position: relative;
    bottom: -20px;
}
.mobile__central_cnt-name {
    font-size: 20px;
    color: #0F172A;
    width: 100%;
}
.mobile__central_cnt-country {
    font-size: 14px;
    color: #64748B;
    width: 100%;
    font-family: 'Lemon Milk Pro';
}
.mobile__access_level {
    font-size: 10px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 0, 0, 0.548);
    border-radius: 10px;
}
.mobile__menu_ul {
    width: 70%;
    margin: 50px 0;
    display: flex;
    justify-content: start;
    margin-left: 40px;
    flex-wrap: wrap;
}
.mobile__menu_li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.mobile__menu_li-a {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.mobile__menu_round {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-right: 20px;
}
.mobile__menu_text {
    font-size: 14px;
}
.mobile__cnt-with-options {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
    height: 20px;
    align-self: end;
}
.mobile__cnt-with-options-flex {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.round-text-active {
    color: #4F5665;
}
.round-text-nonactive {
    color: #979797;
}
.round-text-exit {
    color: #DA3232;
}
.round-active {
    background-color: #26D07C;
}
.round-nonactive {
    background-color: #E0E0E0;
}
.round-exit {
    background-color: #FBD8DC;
    background-image: url(../png/exit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.mobile__user {
    background-image: url(../png/fi-rr-user.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.mobile__settings {
    background-image: url(../png/fi-rr-settings.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.mobile__help {
    background-image: url(../png/fi-rr-shield-interrogation.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.mobile__privace {
    padding-right: 20px;
    background-image: url(../png/next.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10%;
}
.mobile_option-text {
    color: #4F5665;
    font-size: 14px;
    font-family: 'Lemon Milk Pro';
}
.mobile__settings-list-dropdown {
    font-size: 20px;
    font-family: 'Lemon Milk Pro bb';
    color: #0F172A;
    padding-right: 30px;
    background-image: url('../img/arrowdown.svg');
    background-position-x: 100%;
    background-position-y: 55%;
    background-repeat: no-repeat;
    background-size: 8%;
    cursor: pointer;
    display: none;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 10%;
}
.mobile__settings-list-dropdown-itself {
    display: block;
    height: 0px; /* 150 */
    margin-left: 10%;

}
.mobile__settings-list-dropdown-option1, .mobile__settings-list-dropdown-option2, .mobile__settings-list-dropdown-option3 {
    color: #979797;
    font-size: 16px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
    font-family: 'Lemon Milk Pro bb';
}
.mobile__photo-form {
    display:none;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    flex-wrap: wrap;
}
.mobile-title-loadphoto {
    width: 80%;
    display: flex;
}