* {
    font-family: "Lemon Milk Regular";
	margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
button, input, textarea, select {
-webkit-appearance: none;
}
a {
    text-decoration: none;
    color: unset;
}

body, html {
    margin: 0;
    height: 0;
    max-width: 100%;
    width: 100%;
}
body {
    background-color: rgb(255,255,255);
}

@font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url('../fonts/static/Commissioner-ExtraLight.ttf');
}

@font-face{
  font-family: Lemon Milk Pro b;
  font-style: bold;
  src: url('../fonts/static/Commissioner-Medium.ttf');
}

@font-face{
  font-family: Lemon Milk Regular;
  font-style: bold;
  src: url('../fonts/static/Commissioner-Regular.ttf');
}
@font-face{
  font-family: Lemon Milk Pro bb;
  font-style: bold;
  src: url('../fonts/static/Commissioner-Bold.ttf');
}


main {
    background-color: transparent;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__central-cnt {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 80%;
    width: 80%;
    min-width: 80%;
    background-color: transparent;
    margin: 40px 0;
}
.main__central-cnt_left {
    display: flex;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    background-color: transparent;
}
.main__central-cnt_right {
    display: flex;
    width: 76%;
    min-width: 76%;
    max-width: 76%;
}
.main__central-right {
    display: flex;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    background-color: transparent;
}
.main__cnt_noflex {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.main__cnt-flex {
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
h2 {
    font-family: 'Lemon Milk Regular';
    color: #979797;
    font-size: 16px;
    margin-bottom: 40px;
}
.right-cnt-header {
    font-size: 28px;
    color: #E5E5E5;
}
.h1courses {
    font-size: 26px;
    color: #4F5665;
}




.main__path-path {
    font-size: 14px;
    color: #979797;
}
.main__path-black-active {
    color: black;
}
.main__path_central-cnt {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.main__path_course-header-card {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
.main__path_course-header-card-left {
    width: 80%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.main__path_course-header-card-left-header-cnt {
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
}
.main__path_course-header-card-left-header-cnt-cnt {
    width: 100%;
    justify-content: start;
    flex-wrap: nowrap;
}
.main__path_course-header {
    font-size: 45px;
    font-family: 'Lemon Milk Pro b';
    width: 100%;
}
.main__path_course-description {
    font-size: 16px;
    font-family: 'Lemon Milk Pro b';
    width: 100%;
    margin-top: 5px;
    
}
.main__path_course-general-information {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 10px;
    position: relative;
    bottom: -30px;
}
.main__path_course-general-information-lessonscnt {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    width: 20%;
}
.path__lesonsamount-svg {
    width: 50px;
}
.main__path_course-header-card-left-header-btn {
    width: 200px;
    color: white;
    background-color: #26D07C;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid transparent;
    margin-top: 70px;
    cursor: pointer;
    transition: .4s;
    position: relative;
    
}
.main__path_course-header-card-left-header-btn:hover {
    transition: .4s;
    color: #26D07C;
    background-color: white;
    border: 1px solid #26D07C;
}
.main__path_course-general-information-lessons {
    padding-left: 10px;
    font-size: 14px;
}
.main__path_course-header-card-left-header-btn-finished {
    width: 200px;
    color: white;
    background-color: #26D07C;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid transparent;
    margin-top: 70px;
    cursor: pointer;
    transition: .4s;
}
.path__next-lesson-text-with-btn {
    font-size: 14px;
    display: flex;
    position: relative;
    bottom: -35px;
    margin-left: 30px;
}
.active-star__path {
    position: relative;
    top: -10px;
}
.main__path_course-header-card-right {
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;

}
.main__path_course-logo {
    min-width: 80px;
    min-height: 80px;
    border-radius: 50px;
    position: relative;
    top: -80px;
    display: flex;
    align-self: start;
    justify-content: end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    

    border: 2px solid white;
    box-shadow: none;
}
.path__flag {
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    margin-left: 40px;
}
.path__flag-ru {
    background-image: url('../flag/015-russia.svg');
}
.path__centtralcnt_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.path__centtralcnt_flex_left {
    width: 65%;
    display: flex;
    justify-content: start;
}
.path__centtralcnt_flex_right {
    width: 34%;
    display: flex;
    justify-content: start;
}
.path__centtralcnt_noflex_left {
    display: block;
    width: 100%;
}
.path__centtralcnt_header {
    font-size: 24px;
    color: #4F5665;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.path__centtralcnt_description {
    font-size: 16px;
    color: #4F5665;
    margin-left: 30px;
}
.path__you_will-rearn-ul {
    margin-left: 30px;
}
.path__you_will-rearn-li {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
.path__you_will-rearn-tick {
    min-width: 40px;
    min-height: 40px;
    border-radius: 15px;
    background-color: #4F5665;
    display: flex;
    margin-right: 30px;
}
.tickitself {
    position: relative;
    top: 0px;
    right: -10px;
}
.path__ul_lear_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
}
.path__ul_lear_block_h1 {
    width: 100%;
    justify-content: start;
    font-size: 14px;
    color: #4F5665;
}
.path__ul_lear_block_h2 {
    width: 100%;
    justify-content: start;
    font-size: 14px;
    color: #979797;
}
.path__requirments-point {
    padding-left: 60px;
    width: 90%;
    justify-content: start;
    font-size: 16px;
    color: #4F5665;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
}
.path__instructor-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.path__instructor_name-cnt {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    align-content: center;
    justify-content: flex-start;
    margin-left: 10px;
}
.path__instructor_name {
    display: flex;
    width: 100%;
    font-size: 16px;
    color: #4F5665;
}
.path__instructor_position {
    display: flex;
    width: 100%;
    font-size: 14px;
    color: #B2B2B2;
}
.path__ul_cnt {
    background-color: #F1F5F9;
    border-radius: 20px;
}
.path__ul_courses {
    display: flex;
    width: 80%;
    margin-left: 30px;
    flex-wrap: wrap;
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 10px;

}
.path__ul_courses::-webkit-scrollbar {
    width: 0;
  }
/* .path__ul_courses::-webkit-scrollbar {
    width: 3px;
    background-color: #f9f9fd;
  }
  .path__ul_courses::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #26D07C;
    height: 20px;
  }
  .path__ul_courses::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    border-radius: 10px;
    background-color: #f9f9fd;
  } */
.path__centtralcnt_subheader {
    margin-bottom: 20px;
    color: #B2B2B2;
    margin-left: 30px;
    font-size: 14px;
}
.path__li_courses {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.path__li_title_quiz-completed {
    display: flex;
    min-height: 4px;
    height: 4px;
    min-width: 4px;
    border: 2px solid #26D07C;
    border-radius: 5px;
    background-color: #26D07C;
    position: relative;
    left: -20px;
}
.path__li_title_quiz-failed {
    display: flex;
    min-height: 4px;
    height: 4px;
    min-width: 4px;
    border: 2px solid #861111;
    border-radius: 5px;
    background-color: #861111;
    position: relative;
    left: -20px;
}
.path__li_title_quiz-exist {
    display: flex;
    min-height: 4px;
    height: 4px;
    min-width: 4px;
    border: 2px solid #26D07C;
    border-radius: 7px;
    background-color: transparent;
    position: relative;
    left: -20px;
}
.path__li_title_quiz-training {
    display: flex;
    min-height: 4px;
    height: 4px;
    min-width: 4px;
    border: 2px solid gold;
    border-radius: 7px;
    background-color: gold;
    position: relative;
    left: -20px;
}

.path__li_title_quiz-existq {
    display: flex;
    min-height: 4px;
    height: 4px;
    min-width: 4px;
    border: 2px solid lightgrey;
    border-radius: 7px;
    background-color: lightgrey;
    position: relative;
    left: -20px;
}
.path__li_title_quiz-notexist {
    display: flex;
    min-height: 4px;
    height: 4px;
    min-width: 4px;
    border: 2px solid transparent;
    border-radius: 7px;
    background-color: transparent;
    position: relative;
    left: -20px;
}
.path__li_number_item-active {
    min-width: 30px;
    min-height: 30px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid #26D07C;
    color: #26D07C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.path__li_title_item-active {
    padding-left: 20px;
    padding-right: 22px;
    color: #26D07C;
    font-size: 12px;
    width: 100%;
    background-image: url('../png/greenarrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 3%;
}
.path__li_number_item-current {
    min-width: 30px;
    min-height: 30px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid #4F5665;
    color: #4F5665;
    display: flex;
    justify-content: center;
    align-items: center;
}
.path__li_title_item-current {
    padding-left: 20px;
    padding-right: 22px;
    color: #4F5665;
    font-size: 12px;
    width: 100%;
    background-image: url('../png/greyarrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 3%;

}
.path__li_number_item-locked {
    min-width: 30px;
    min-height: 30px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid #979797;
    color: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
}
.path__li_title_item-locked {
    padding-left: 20px;
    padding-right: 22px;
    color: #979797;
    font-size: 12px;
    width: 100%;
    background-image: url('../png/lightlock.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 5%;
}




.li-cnt {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.li-cnt_left {
    display: flex;
    width: 85%;
    min-width: 85%;
    align-items: center;
    flex-wrap: wrap;
}
.goals-title {
    font-size: 20px;
    color: #303030;
    width: 100%;
}
.goals-subtitle {
    font-size: 12px;
    color: #686868;
    width: 100%;
}
.edit-goals {
    display: flex;
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    background-image: url('dots.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
}
.green {
    background-color: #26D07C;
    border: 1px solid #E0E0E0;
}
.green-txt {
    color: white;
}

.black {
    color: black;
    padding-bottom: 30px;
}
.grey2 {
    color: #4F5665;
    padding-bottom: 25px;
    font-size: 14px;
}
.blocked {
    cursor: not-allowed;
}
.thin-txt {
    font-family: 'Lemon Milk Pro';
}
.displaynone {
    display: none;
}
.opacity20 {
    opacity: 20%;
    cursor: not-allowed;
}
/* Mobile styles*/
.main__central_mobile-menu {
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 1px solid #E0E0E0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}
.main__central_mobile-menu-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.main__central_mobile-menu-centre {
    width: 95%;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 20px;
    height: 120px;
}
.main__central_mobile_profile-cnt {
    width: 80%;
    display: flex;
    height: 100px;
}
.mobile__contacts_cnt {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    height: 45px;
    position: relative;
    bottom: -20px;
}
.mobile__central_cnt-name {
    font-size: 20px;
    color: #0F172A;
    width: 100%;
}
.mobile__central_cnt-country {
    font-size: 14px;
    color: #64748B;
    width: 100%;
    font-family: 'Lemon Milk Pro';
}
.mobile__access_level {
    font-size: 10px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 0, 0, 0.548);
    border-radius: 10px;
}
.mobile__menu_ul {
    width: 70%;
    margin: 50px 0;
    display: flex;
    justify-content: start;
    margin-left: 40px;
    flex-wrap: wrap;
}
.mobile__menu_li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.mobile__menu_li-a {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.mobile__menu_round {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-right: 20px;
}
.mobile__menu_text {
    font-size: 14px;
}
.mobile__cnt-with-options {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
    height: 20px;
    align-self: end;
}
.mobile__cnt-with-options-flex {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.round-text-active {
    color: #4F5665;
}
.round-text-nonactive {
    color: #979797;
}
.round-text-exit {
    color: #DA3232;
}
.round-active {
    background-color: #26D07C;
}
.round-nonactive {
    background-color: #E0E0E0;
}
.round-exit {
    background-color: #FBD8DC;
    background-image: url(../png/exit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.mobile__user {
    background-image: url(../png/fi-rr-user.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.mobile__settings {
    background-image: url(../png/fi-rr-settings.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.mobile__help {
    background-image: url(../png/fi-rr-shield-interrogation.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.mobile__privace {
    padding-right: 20px;
    background-image: url(../png/next.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10%;
}
.mobile_option-text {
    color: #4F5665;
    font-size: 14px;
    font-family: 'Lemon Milk Pro';
}
.mobile__settings-list-dropdown {
    font-size: 20px;
    font-family: 'Lemon Milk Pro bb';
    color: #0F172A;
    padding-right: 30px;
    background-image: url('../img/arrowdown.svg');
    background-position-x: 100%;
    background-position-y: 55%;
    background-repeat: no-repeat;
    background-size: 8%;
    cursor: pointer;
    display: none;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 10%;
}
.mobile__settings-list-dropdown-itself {
    display: block;
    height: 0px; /* 150 */
    margin-left: 10%;

}
.mobile__settings-list-dropdown-option1, .mobile__settings-list-dropdown-option2, .mobile__settings-list-dropdown-option3 {
    color: #979797;
    font-size: 16px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
    font-family: 'Lemon Milk Pro bb';
}
.mobile__photo-form {
    display:none;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    flex-wrap: wrap;
}
.mobile-title-loadphoto {
    width: 80%;
    display: flex;
}