{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <footer>
        <div class="footer-cnt-centre">
            <div class="footer-left-cnt">
                <div class="footer-cnt_left__logo">
                    <img src="{% static 'css/lg.png' %}" width="30" height="30">
                    <div class="header-cnt2_left__logo">snack</div>
                </div>
                <div class="footer__aboutsnack_text"><b>Snack</b> is a free educational platform that<br>provides unlimited access to Ilyin's fat ass.</div>
                <ul class="contacts-socials_cnt">
                    <a href="https://vk.com"><li class="li-vk"></li></a>
                    <a href="https://linked.in"><li class="li-ln"></li></a>
                    <a href="https://instagram.com"><li class="li-inst"></li></a>
                    <a href="https://facebook.com"><li class="li-fb"></li></a>
                    <a href="https://twitter.com"><li class="li-tw"></li></a>
                </ul>
                <div class="footer__snackyear">&#169 2021SnackLLC</div>
            </div>
            <div class="footer-left-cnt">
                <ul class="footer-ul">
                    <li class="footer-li black">Discover</li>
                    <li class="footer-li grey blocked"><a href="#">Register</a></li>
                    <li class="footer-li grey blocked"><a href="#">Pricing</a></li>
                    <li class="footer-li grey blocked"><a href="#">Course List</a></li>
                    <li class="footer-li grey blocked"><a href="#">Subscription</a></li>
                    <li class="footer-li grey blocked"><a href="#">Languages</a></li>
                </ul>
                <ul class="footer-ul">
                    <li class="footer-li black">Engage</li>
                    <li class="footer-li grey blocked"><a href="#">FAQ</a></li>
                    <li class="footer-li grey blocked"><a href="#">Feedback</a></li>
                    <li class="footer-li grey blocked"><a href="#">Privicy Policy</a></li>
                    <li class="footer-li grey blocked"><a href="#">Terms of Service</a></li>
                </ul>
                <ul class="footer-ul">
                    <li class="footer-li black">Contribute</li>
                    <li class="footer-li grey blocked"><a href="#">Founder Team</a></li>
                    <li class="footer-li grey blocked"><a href="#">Career at Snack</a></li>
                    <li class="footer-li grey blocked"><a href="#">Investors</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

