{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home__styles.css' %}">
    <style type="text/css">
          {% comment %} @font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url({% static 'css/Lemon Milk Pro Ultra Light.otf' %});
}

@font-face{
  font-family: Lemon Milk Pro b;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Medium.otf' %});
}

@font-face{
  font-family: Lemon Milk Regular;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Regular.otf' %});
}
@font-face{
  font-family: Lemon Milk Pro bb;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Bold.otf' %});
} {% endcomment %}
    </style>
</head>
<body>
    <div class="header-cnt">
        <div class="header-cnt-centre">
            <div class="menu-mobile"></div>
            <div class="header-cnt_left__logo">
                <img class="logousual" src="{% static 'css/lg.png' %}" width="30" height="30">
                <img class="logononusual" src="{% static 'css/lg.png' %}" width="20" height="20">
                <div class="header-cnt2_left__logo">snack</div>
            </div>
            <ul class="header-cnt_centre__menu">
                <li class="header-cnt_centre__menu-a inactive-currently blocked"><a href="#">About</a></li>
                <li class="header-cnt_centre__menu-a inactive-currently blocked"><a href="#">Courses</a></li>
                <li class="header-cnt_centre__menu-a inactive-currently blocked"><a href="#">Process</a></li>
                <li class="header-cnt_centre__menu-a inactive-currently blocked"><a href="#">Help</a></li>
            </ul>
            <div class="header-cnt_right__logo">
                <a href="login/"><button class="header__sign-in-btn">Войти</button></a>
                <a href="registration/"><button class="header__sign-up-btn">Регистрация</button></a>
            </div>
        </div>
    </div>
    <main>
        <div class="main-cnt-centre">
            <div class="main-cnt-blockwithitems">
                <div class="main-cnt-leftblock">
                    <div class="h1">
                        <h1>ЭТО ВАШЕ БЕСПЛАТНОЕ ОБРАЗОВАНИЕ<span class="h1-dot">.</span></h1>
                    </div>
                    <div class="h2">
                        Качайте не только банки, но и уровни, клоуны!
                    </div>
                    <a href="registration/"><button class="readytogo-btn">
                        ПОГНАЛИ НАХУЙ
                    </button></a>  
                </div>
                <div class="main-cnt-rightblock">
                    <img class="lendpic" src="{% static 'css/lendpic.svg' %}">
                </div>
            </div>
            <div class="main-cnt-blockwithitems-2">
                <div class="main-2cnt-leftcnt">
                    <div class="left2-cnt">
                        Слишком чистая почта?<br> Просто добавь спама!
                    </div>
                    <div class="left2-cnt-text">
                        Получай рекламу, вирусы и начни засорять почту прямо сейчас
                    </div>                    
                </div>
                <div class="main-2cnt-leftcnt">
                    <button class="sbsc-now">
                        ПИЗДЕЦ ПОЧТЕ
                    </button>                   
                </div>
            </div>
        </div>
    </main>
    {% include "home/footer.html" %}
</body>
<link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}">
</html>

