{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home__styles.css' %}">
    <script src="{% static 'js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/homescript.js' %}"></script>
    <style type="text/css">
          {% comment %} @font-face{
  font-family: Lemon Milk Pro;
  font-style: normal;
  src: url({% static 'css/Lemon Milk Pro Ultra Light.otf' %});
}

@font-face{
  font-family: Lemon Milk Pro b;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Medium.otf' %});
}

@font-face{
  font-family: Lemon Milk Regular;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Regular.otf' %});
}
@font-face{
  font-family: Lemon Milk Pro bb;
  font-style: bold;
  src: url({% static 'css/Lemon Milk Pro Bold.otf' %});
} {% endcomment %}
    </style>
</head>
<body>
    <div class="header-cnt">
        <div class="header-cnt-centre">
            <div class="menu-mobile"></div>
            <div class="header-cnt_left__logo">
                <img class="logousual" src="{% static 'css/lg.png' %}" width="30" height="30">
                <img class="logononusual" src="{% static 'css/lg.png' %}" width="20" height="20">
                <div class="header-cnt2_left__logo">snack</div>
            </div>
            <ul class="header-cnt_centre__menu">
                <li class="header-cnt_centre__menu-a platform-a-link" data-scroll="#section_platform"><a href="#">Платформа</a></li>
                <li class="header-cnt_centre__menu-a inactive-currently blocked"><a href="#">Курсы</a></li>
                <li class="header-cnt_centre__menu-a inactive-currently blocked"><a href="#">Прогресс</a></li>
                <li class="header-cnt_centre__menu-a inactive-currently blocked"><a href="#">Что учить?</a></li>
            </ul>
            <div class="header-cnt_right__logo">
                <a href="login/"><button class="header__sign-in-btn">Войти</button></a>
                <a href="registration/"><button class="header__sign-up-btn">Регистрация</button></a>
            </div>
        </div>
    </div>
    <main>
        <div class="main-cnt-centre">
            <div class="main-cnt-blockwithitems">
                <div class="main-cnt-leftblock">
                    <div class="h1">
                        <h1>Вам остаётся только учиться<span class="h1-dot">.</span></h1>
                    </div>
                    <div class="h2">
                        Тратьте на образование 5 минут в день. Качайте уровни, зарабатывайте награды и проверяйте себя. Бесплатно!
                    </div>
                    <a href="registration/"><button class="readytogo-btn">
                        Попробуем
                    </button></a>
                    <a href="login/"><button class="readytogo-btn-log">
                        Уже есть аккаунт
                    </button></a>    
                </div>
                <div class="main-cnt-rightblock">
                    <img class="lendpic" src="{% static 'css/lendpic.svg' %}">
                </div>
            </div>
            <section class="section__platform" id="section_platform">
                <div class="section__platform_cnt">
                    <div class="platform__left-cnt"></div>
                    <div class="platform__right-cnt">
                        <div class="platform__right-cnth">
                            Образование за 5 минут в день?
                            Easy as Snack!
                        </div>
                        <div class="platform__right-cntsh">
                            Наша платформа - это бесплатный&nbsp;онлайн-университет, где не нужно зубрить теорию, а длина одного урока не превышает 10 минут.
                        </div>
                    </div>
                </div>
                <div class="section__platform_cnt">
                    <div class="section__platform_block">
                        <div class="section__platform_blockb">
                            <div class="section__platform_number">1</div>
                            <div class="section__platform_desc">Маленькие порции</div>
                            <div class="section__platform_desc2">Мы не грузим голову часовыми лекциями, потому что ценим время.</div>
                        </div>
                    </div>
                    <div class="section__platform_block">
                        <div class="section__platform_blockb">
                            <div class="section__platform_number">2</div>
                            <div class="section__platform_desc">Геймификация</div>
                            <div class="section__platform_desc2">Проверяй знания в викторинах, а также качай ровник</div>
                        </div>
                    </div>
                    <div class="section__platform_block">
                        <div class="section__platform_blockb">
                            <div class="section__platform_number">3</div>
                            <div class="section__platform_desc">Бесплатно</div>
                            <div class="section__platform_desc2">Мы верим: образование должно быть бесплатным для каждого, а потому у нас нет платных курсов.</div>
                        </div>
                    </div>
                </div>
            </section>
            {% comment %} <div class="main-cnt-blockwithitems-2">
                <div class="main-2cnt-leftcnt">
                    <div class="left2-cnt">
                        Слишком чистая почта?<br> Просто добавь спама!
                    </div>
                    <div class="left2-cnt-text">
                        Получай рекламу, вирусы и начни засорять почту прямо сейчас
                    </div>                    
                </div>
                <div class="main-2cnt-leftcnt">
                    <button class="sbsc-now">
                        ПИЗДЕЦ ПОЧТЕ
                    </button>                   
                </div>
            </div> {% endcomment %}
        </div>
    </main>
    {% include "home/footer.html" %}
</body>
<link rel="stylesheet" type="text/css" href="{% static 'css/home_media.css' %}">
</html>

