{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" href="{% static 'css/quizresults.css' %}">
    <link rel="stylesheet" href="{% static 'css/coursetheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/lefttab.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggler.css' %}">
    <script src="{% static 'js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
    <script src="{% static 'js/quiz.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <style>

    </style>
</head>
<body>
    <div>Results: {{right}}/{{amount}} - {{percentage}}%</div>
    <a href="../../" style="display: flex;"><div class="quizresults_complete-btn">COMPLETE</div></a>
</body>
<!--<link rel="stylesheet" href="{% static 'css/lesson__media.css' %}">-->
</html>

