{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <title>Snack frontend admin</title>
</head>
<body>
    <main>
        <div class="top-panel">
            <div class="top__panel-flex">
                <div class="top__panel-cnt">
                    <a href="../"><div class="top__panel-back"><</div></a>
                    <h1>Snack</h1>
                    <div class="top__panel-text">__Private frontend administration panel.</div>
                </div>
                <div class="top__panel-name">
                    FAQ
                </div>
                <div class="top__panel-name">
                    {{first_name}} {{last_name}}
                </div>
            </div>
        </div>
        <div class="main__panel">
            <h2>Q</h2>
            <div class="main__panel_item">
                <div class="main__panel_item-flex">
                    <a href="quiztasktype"><div class="main__panel_item-text">Quiz task type</div></a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>