{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" href="{% static 'css/path.css' %}">
    <link rel="stylesheet" href="{% static 'css/coursetheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/lefttab.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggler.css' %}">
    <script src="{% static 'js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
    <script src="{% static 'js/path.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <style>
        .header-image {
    display: flex;
    min-width: 35px;
    width: 35px;
    min-height: 35px;
    height: 35px;
    background-color: transparent;
    background-position: center;
    background-image: url({{begin_path}}{{photo}});
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    cursor: pointer;
}
.main__central__mobile-photo {
    height: 80px;
    width: 80px;
    border-radius: 60px;
    border: 4px solid white;
    box-shadow: 0px 5px 10px lightgrey;
    background-image: url({{begin_path}}{{photo}});
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 600px) {
    .courses-li__rightcnt {
        background: linear-gradient(to top right, #b5becf 60%, #ffffff 130%);
    }
}
    </style>
</head>
<body>
    {% include "feed/header2.html" %}
    <div class="main__central_mobile-menu">
        <div class="main__central_mobile-menu-flex">
            <div class="main__central_mobile-menu-centre">
                <div class="main__central_mobile_profile-cnt">
                    <div class="main__central__mobile-photo"></div>
                    <div class="mobile__contacts_cnt">
                        <div class="mobile__central_cnt-name">{{name}}&nbsp;{{last_name}}</div>
                        <div class="mobile__central_cnt-country">{{country}}</div>
                    </div>
                </div>
                <div class="mobile__access_level">{{access_name}}</div>
            </div>
        </div>
        <ul class="mobile__menu_ul">
            {% if access > 1 %}
            <li class="mobile__menu_li">
                <div class="mobile__menu_round round-nonactive"></div>
                <div class="mobile__menu_text round-text-nonactive">Test</div>
            </li>
            {% endif %}
            <a href="/feed/"><li class="mobile__menu_li">
                <div class="mobile__menu_round round-nonactive mobile__user"></div>
                <div class="mobile__menu_text round-text-nonactive">My Workspace</div>
            </li></a>
            <li class="mobile__menu_li returnback">
                <div class="mobile__menu_round round-active"></div>
                <div class="mobile__menu_text round-text-active">Courses</div>
            </li>
            <a href="/feed/settings/" class="mobile__menu_li-a"><li class="mobile__menu_li returnback">
                <div class="mobile__menu_round round-nonactive mobile__settings"></div>
                <div class="mobile__menu_text round-text-nonactive">Edit Profile</div>
            </li></a>
            <li class="mobile__menu_li">
                <div class="mobile__menu_round round-nonactive mobile__help"></div>
                <div class="mobile__menu_text round-text-nonactive">Need Help?</div>
            </li>
            <a href="/feed/logout/"><li class="mobile__menu_li">
                <div class="mobile__menu_round round-exit"></div>
                <div class="mobile__menu_text round-text-exit">Log Out</div>
            </li></a>
        </ul>
        <div class="mobile__cnt-with-options">
            <div class="mobile__cnt-with-options-flex">
                <div class="mobile_option-text mobile__privace">Privacy Policy</div>
                <div class="mobile_option-text">English</div>
            </div>    
        </div>
    </div>
    <main>
        <div class="main__central-cnt">
            <div class="main__central-cnt_left">
                <div class="main__cnt_noflex">
                    <div class="main__cnt-flex">
                        <h2>Main Menu</h2>
                        <ul class="left-menu">
                            {% if access == 2 %}
                            <a href="/admin_frontend/"><li class="left-menu-items">
                                <div class="admin-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Admin</div>
                            </li></a>
                            {% endif %}
                            <a href="../"><li class="left-menu-items">
                                <div class="workspace-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">My Workspace</div>
                            </li></a>
                            <li class="left-menu-items">
                                <div class="courses-btn active-btn btn-layout"></div>
                                <div class="li-menu active-text">Courses</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="analytics-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Performance</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="friends-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Friends</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="rating-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Ratings</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="goals-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Goals List</div>
                            </li>
                        </ul>
                        <h2>Settings</h2>
                        <ul class="left-menu">
                            <a href="/feed/settings/"><li class="left-menu-items">
                                <div class="profile-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Edit Profile</div>
                            </li></a>
                            <li class="left-menu-items opacity20">
                                <div class="help-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Need Help?</div>
                            </li>
                        </ul>
                        <div id="toggles">
                            <div class="toggle-base">
                                <div class="toggle-btn"></div>
                            </div>
                            <div class="toggle-label">Light Mode</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__central-cnt_right">
                <div class="main__cnt_noflex">
                    <a href="/feed/courses/"><div class="main__path-path">Courses&nbsp;</a><span style="font-family: 'Times New Roman', Times, serif;">&#8594;</span>&nbsp;<span class="main__path-black-active">{{coursename}}</span></div>
                    <div class="main__path_central-cnt">
                        <div class="main__path_course-header-card" style="background: linear-gradient(to right, #{{coursecolor}} 60%, #000000 190%);">
                            <div class="main__path_course-header-card-left">
                                <div class="main__path_course-header-card-left-header-cnt">
                                    <div class="main__path_course-header-card-left-header-cnt-cnt">
                                        <div class="main__path_course-header" style="color: {{fontcolor}};">{{coursename}}&nbsp;
                                            {% if coursecomplexity == 2 %}
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" class="active-star__path" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.99495 0.516218L5.09138 4.41121L0.786392 5.0262C0.0249661 5.14335 -0.26789 6.08049 0.288537 6.63691L3.36353 9.65333L2.63139 13.8998C2.51424 14.6612 3.33424 15.2469 4.00781 14.8955L7.84423 12.8748L11.6514 14.8955C12.3249 15.2469 13.1449 14.6612 13.0278 13.8998L12.2956 9.65333L15.3706 6.63691C15.9271 6.08049 15.6342 5.14335 14.8728 5.0262L10.5971 4.41121L8.66423 0.516218C8.34209 -0.157352 7.34637 -0.186637 6.99495 0.516218Z" fill="#{{fontcolor}}"/>
                                                </svg>
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" class="active-star__path" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6.99495 0.516218L5.09138 4.41121L0.786392 5.0262C0.0249661 5.14335 -0.26789 6.08049 0.288537 6.63691L3.36353 9.65333L2.63139 13.8998C2.51424 14.6612 3.33424 15.2469 4.00781 14.8955L7.84423 12.8748L11.6514 14.8955C12.3249 15.2469 13.1449 14.6612 13.0278 13.8998L12.2956 9.65333L15.3706 6.63691C15.9271 6.08049 15.6342 5.14335 14.8728 5.0262L10.5971 4.41121L8.66423 0.516218C8.34209 -0.157352 7.34637 -0.186637 6.99495 0.516218Z" fill="#{{fontcolor}}"/>
                                                    </svg>
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" class="active-star__path" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M6.99495 0.516218L5.09138 4.41121L0.786392 5.0262C0.0249661 5.14335 -0.26789 6.08049 0.288537 6.63691L3.36353 9.65333L2.63139 13.8998C2.51424 14.6612 3.33424 15.2469 4.00781 14.8955L7.84423 12.8748L11.6514 14.8955C12.3249 15.2469 13.1449 14.6612 13.0278 13.8998L12.2956 9.65333L15.3706 6.63691C15.9271 6.08049 15.6342 5.14335 14.8728 5.0262L10.5971 4.41121L8.66423 0.516218C8.34209 -0.157352 7.34637 -0.186637 6.99495 0.516218Z" fill="#{{fontcolor}}50"/>
                                                        </svg>
                                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" class="active-star__path" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6.99495 0.516218L5.09138 4.41121L0.786392 5.0262C0.0249661 5.14335 -0.26789 6.08049 0.288537 6.63691L3.36353 9.65333L2.63139 13.8998C2.51424 14.6612 3.33424 15.2469 4.00781 14.8955L7.84423 12.8748L11.6514 14.8955C12.3249 15.2469 13.1449 14.6612 13.0278 13.8998L12.2956 9.65333L15.3706 6.63691C15.9271 6.08049 15.6342 5.14335 14.8728 5.0262L10.5971 4.41121L8.66423 0.516218C8.34209 -0.157352 7.34637 -0.186637 6.99495 0.516218Z" fill="#{{fontcolor}}50"/>
                                                            </svg>
                                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" class="active-star__path" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M6.99495 0.516218L5.09138 4.41121L0.786392 5.0262C0.0249661 5.14335 -0.26789 6.08049 0.288537 6.63691L3.36353 9.65333L2.63139 13.8998C2.51424 14.6612 3.33424 15.2469 4.00781 14.8955L7.84423 12.8748L11.6514 14.8955C12.3249 15.2469 13.1449 14.6612 13.0278 13.8998L12.2956 9.65333L15.3706 6.63691C15.9271 6.08049 15.6342 5.14335 14.8728 5.0262L10.5971 4.41121L8.66423 0.516218C8.34209 -0.157352 7.34637 -0.186637 6.99495 0.516218Z" fill="#{{fontcolor}}50"/>
                                                                </svg>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="main__path_course-description" style="color: {{fontcolor}}">{{moto}}</div>
                                </div>
                                <div class="main__path_course-header-card-left-header-cnt">
                                    <a href="1/"><button class="main__path_course-header-card-left-header-btn">Start Learning&nbsp;&#8594;</button></a>
                                </div>
                            </div>
                            <div class="main__path_course-header-card-right">
                                <div class="main__path_course-logo" style="background-color: #{{coursecolor}}; background-image: url({{begin_path}}{{courseicon}})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
    {% include "home/footer.html" %}
</body>
<link rel="stylesheet" href="{% static 'css/path__media.css' %}">
</html>

