{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" href="{% static 'css/feed3.css' %}">
    <link rel="stylesheet" href="{% static 'css/coursetheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/lefttab.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggler.css' %}">
    <script src="{% static 'js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
    <script src="{% static 'js/feed.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <style>
        .feed__lvl_cnt-lvlbadge {
    display: flex;
    justify-content: center;
    width: 15%;
    background-image: url({{begin_path}}{{levelbadge}});
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
    </style>
</head>
<body>
    {% include "feed/header2.html" %}
    <main>
        <div class="main__central-cnt">
            <div class="main__central-cnt_left">
                <div class="main__cnt_noflex">
                    <div class="main__cnt-flex">
                        <h2>Main Menu</h2>
                        <ul class="left-menu">
                            {% if access == 2 %}
                            <a href="/admin/"><li class="left-menu-items">
                                <div class="admin-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Admin</div>
                            </li></a>
                            {% endif %}
                            <li class="left-menu-items">
                                <div class="workspace-btn active-btn btn-layout"></div>
                                <div class="li-menu active-text">My Workspace</div>
                            </li>
                            <a href="/feed/courses/"><li class="left-menu-items">
                                <div class="courses-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Courses</div>
                            </li></a>
                            <li class="left-menu-items opacity20">
                                <div class="analytics-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Performance</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="friends-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Friends</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="rating-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Ratings</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="goals-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Goals List</div>
                            </li>
                        </ul>
                        <h2>Settings</h2>
                        <ul class="left-menu">
                            <li class="left-menu-items">
                                <div class="profile-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Edit Profile</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="help-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Need Help?</div>
                            </li>
                        </ul>
                        <div id="toggles">
                            <div class="toggle-base">
                                <div class="toggle-btn"></div>
                            </div>
                            <div class="toggle-label">Light Mode</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__central-cnt_right">
                <div class="main__cnt_noflex">
                    <div class="feed__lvl_cnt_flex">
                        <div class="feed__lvl_cnt-lvlbadge"></div>
                        <div class="feed__lvl_cnt-centralcnt">
                            <div class="feed_greetingsandlevel">
                                <div class="feed__lvl_greetingscnt"><span class="h2">Welcome back,</span>&nbsp;<span class="h2-name">{{ name }}!</span>&nbsp;&#128405;</div>
                                <div class="feed__lvl_currentlvl">Your current level is: {{ material }}&nbsp;{{ratingid}}</div>
                            </div>
                            <div class="feed_greetingsandlevel">
                                <div class="feed__lvl_scalecnt">
                                    <div class="feed__lvl_scale">
                                        <div class="feed__lvl_scalegrogress" style="background: linear-gradient(to right, #4C6859FF, #4C6859AD); width: {{ percantage }}%;"></div>
                                    </div>
                                    <div class="feed__lvl_pointstonextlvl">
                                       {{ next_level_material }}&nbsp;{{ next_level }}: {{ until_next }}&nbsp;points to go 
                                    </div>
                                </div>
                                <div class="feed__lvl-percentage"><div class="percentage">{{ percantage }}%</div></div>
                            </div>
                        </div>
                        <div class="feed__lvl_cnt-rightcnt">
                            <div class="feed__lvl_achieve-badge opacity20"></div>
                        </div>
                    </div>
                    <div class="section__header">Continue Learning:</div>
                    <ul class="section__continue">
                        <li class="last__course_li">
                            <div class="last__course_li_section">
                                <div class="last__course_li_1str">
                                    <div class="last__course_imnow-std-txt">I AM NOW STUDYING...</div>
                                    <div class="last__course_imnow-std-txt">3 days ago</div>
                                </div>
                                <div class="last__course_li_headerstr">
                                    Python: Basics
                                </div>
                                <div class="last__course_li_2str">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet pellentesque laoreet. Aenean ullamcorper nec tortor ut imperdiet.
                                </div>
                                <div class="last__course_li_3str">
                                    <div class="last__course_continue">Continue</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="section__header opacity20">Training:</div>
                    <div class="section__header opacity20">Achievments:</div>
                    <div class="section__header opacity20">Explore More:</div>
                </div>
            </div>
        </div>
    </main>
    {% include "home/footer.html" %}
</body>
</html>

