footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F8F8F8;

}
.footer-cnt-centre {
    width: 80%;
    max-width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 190px 0;
}
.footer-left-cnt {
    max-width: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer-cnt_left__logo {
    display: flex; 
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.footer__aboutsnack_text {
    font-size: 12px;
    line-height: 2;
    width: 100%;
    max-width: 100%;
    padding-top: 30px;
}
.contacts-socials_cnt {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 30px 0;
}
.li-vk {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("vk.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    box-shadow: 0px 2px 10px lightgrey;
    cursor: pointer;
    margin-right: 20px;
}
.li-fb {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("fb.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    box-shadow: 0px 2px 10px lightgrey;
    cursor: pointer;
    margin-right: 20px;

}
.li-inst {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("ins.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    box-shadow: 0px 2px 10px lightgrey;
    cursor: pointer;
    margin-right: 20px;

}
.li-ln {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("ln.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    box-shadow: 0px 2px 10px lightgrey;
    cursor: pointer;
    margin-right: 20px;

}
.li-tw {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("tw.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    box-shadow: 0px 2px 10px lightgrey;
    cursor: pointer;
    margin-right: 20px;

}
.footer__snackyear {
    font-size: 12px;
    color: #AFB5C0;

}
.footer-ul {
    width: 30%;
    max-width: 30%;
}

.black {
    color: black;
    padding-bottom: 30px;
}
.grey-li {
    color: #4F5665;
    padding-bottom: 25px;
    font-size: 14px;
}
.opacity20 {
    opacity: 20%;
    cursor: not-allowed;
}