footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2A3342;
    border-bottom: 1px solid #333F51;

}
.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2A3342;
    height: 80px;
}
.footer-cnt-centre {
    width: 80%;
    max-width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0;
}
.footer-left-cnt {
    max-width: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer-cnt_left__logo {
    display: flex; 
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.header-cnt3_left__logo {
    color: white;
    font-family: 'Lemon Milk Pro bb';
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-left: 15px;
}
.footer__aboutsnack_text {
    font-size: 16px;
    line-height: 2;
    width: 100%;
    max-width: 100%;
    padding-top: 30px;
    color: #8896AB;

}
.contacts-socials_cnt {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 30px 0;
}
.li-vk {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("vk.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    cursor: pointer;
    margin-right: 20px;
}
.li-ln {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("ln.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    margin-right: 20px;

}
.li-tw {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url("tw.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    margin-right: 20px;

}
.footer__snackyear {
    font-size: 14px;
    color: #8896AB;

}
.footer-ul {
    width: 35%;
    max-width: 35%;
}

.footer__updates-form {
    width: 25%;
    max-width: 25%;
    display: flex;
    margin-left: 30%;
    flex-wrap: wrap;
}
.footer__updates-formh {
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 18px;
}
.footer__updates-form-input {
    background-color: white;
    border-radius: 10px;
    display: block;
    height: 30px;
    padding: 10px;
    min-width: 200%;
    font-size: 16px;
    outline: none;
    margin-bottom: 30px;
    border: 1px solid #D5DAE1;
}
.footer__close-btn {
    color: white;
    font-size: 16px;
    box-shadow: none;
    border-color: #26D07C;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    padding: 15px 50px;
    background-color: #26D07C;
    border-style: solid;
    transition: 1s;
}
.footer__close-btn:hover {
    color: #26D07C;
    box-shadow: none;
    border-color: #26D07C;
    background-color: white;
    transition: 1s;
}
.black {
    color: white;
    padding-bottom: 30px;
    font-size: 18px;
}
.grey-li {
    color: #8896AB;
    padding-bottom: 25px;
    font-size: 15px;
}
.opacity20 {
    opacity: 20%;
    cursor: not-allowed;
}