@font-face{
    font-family: Lemon Milk Pro;
    font-style: normal;
    src: url('../fonts/static/Commissioner-ExtraLight.ttf');
  }
  
  @font-face{
    font-family: Lemon Milk Pro b;
    font-style: bold;
    src: url('../fonts/static/Commissioner-Medium.ttf');
  }
  
  @font-face{
    font-family: Lemon Milk Regular;
    font-style: bold;
    src: url('../fonts/static/Commissioner-Regular.ttf');
  }
  @font-face{
    font-family: Lemon Milk Pro bb;
    font-style: bold;
    src: url('../fonts/static/Commissioner-Bold.ttf');
  }
  @font-face{
    font-family: ComissionerEB;
    font-style: bold;
    src: url('../fonts/static/Commissioner-ExtraBold.ttf');
  }

* {
    font-family: "Lemon Milk Regular";
	margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}

body, html {
    margin: 0;
    height: 0;
    max-width: 100%;
    width: 100%;
}
body {
    background-color: rgb(255,255,255);
}


.logononusual {
    display: none;
}
.header-cnt {
    width: 100%;
    margin: 0;
    max-width: 100%;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 90px;
    /* box-shadow: 0px 0px 100px #E5E5E5; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.header-cnt-centre {
    width: 80%;
    max-width: 80%;
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-mobile {
    display: none;
    height: 15px;
    width: 15px;
    border: 1px solid grey;
    border-radius: 15px;
}
.header-cnt_left__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-cnt2_left__logo {
    font-size: 20px;
    font-family: 'Lemon Milk Pro bb';
    font-style: italic;
    color: #0B132A;
    padding-left: 10px;
}
.header-cnt_centre__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.header-cnt_centre__menu-a {
    font-size: 16px;
    color: #4F5665;
    cursor: pointer;
}
.header-cnt_right__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.header__sign-in-btn {
    font-size: 16px;
    padding: 10px 20px;
    color: #4F5665;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header__sign-up-btn {
    color: white;
    font-size: 16px;
    box-shadow: none;
    border-color: #26D07C;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    padding: 10px 50px;
    background-color: #26D07C;
    border-style: solid;
    transition: 1s;
}
.header__sign-up-btn:hover {
    color: #26D07C;
    box-shadow: none;
    border-color: #26D07C;
    background-color: white;
    transition: 1s;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding-top: 250px;
}
.main-cnt-centre {
    width: 80%;
    max-width: 80%;
    background-color: transparent;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-cnt-blockwithitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.main-cnt-leftblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    flex-wrap: wrap;
    margin-top: 0px;

}
.h1 {
    display: flex;
    font-family: 'ComissionerEB';
    font-size: 55px;
    color: black;
    display: block;
}
h1 {
    font-family: 'Lemon Milk Pro bb';
    font-size: 75px;
    color: #2A3342;
    display: block;
    line-height: 1;

}
.h1-dot {
    font-size: 55px;
    font-family: 'ComissionerEB';
    color: #26D07C;

}
.main-cnt-rightblock {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;

}
.lendpic {
    size: 10%;

}
.h2 {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 40px;
    line-height: 1.5;
}
.readytogo-btn {
    background-color: #26D07C;
    padding: 15px 40px;
    color: white;
    font-size: 18px;
    font-family: 'Lemon Milk Pro b';
    border: 1px solid #26D07C;
    border-radius: 10px;
    /* box-shadow: 0px 20px 50px #26D07C88; */
    cursor: pointer;
    transition: 1s;
}
.readytogo-btn:hover {
    background-color: #F8F8F8;
    color: #26D07C;
}
.readytogo-btn-log {
    background-color: transparent;
    padding: 15px 40px;
    color: #4F5665;
    font-size: 18px;
    font-family: 'Lemon Milk Pro b';
    border: 1px solid #D5DAE1;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: relative;
    left: -50%;
    z-index: -1;
}
.readytogo-btn-log:hover {
    background-color: #F8F8F8;
    color: #26D07C;
}
.main-cnt-blockwithitems-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    width: 100%;
    padding: 50px 60px;
    box-shadow: 0px 0px 20px lightgrey;
    position: relative;
    bottom: -170px;
}
.main-2cnt-leftcnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 45%;
}
.left2-cnt {
    font-family: 'Lemon Milk Pro b';
    font-size: 35px;
    color: #0B132A;
    padding-bottom: 15px;
    display: block;
}
.left2-cnt-text {
    font-size: 18px;
    color: #4F5665;
}
.sbsc-now {
    color: white;
    background-color: #26D07C;
    padding: 20px 70px;
    border: none;
    border-radius: 10px;
    font-family: 'Lemon Milk Pro b';
    font-size: 16px;
    box-shadow: 0px 20px 50px #26D07C88;
    transition: 1s;
    cursor: not-allowed;
}
.sbsc-now:hover {
    color: #26D07C;
    background-color: #F8F8F8;
    transition: 1s;
    cursor: not-allowed;
}
section {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 370px auto;
    background-color: transparent;
}
.platform__left-cnt {
    display: flex;
    width: 48%;
    background-image: url(../css/Play-2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 370px;
    cursor: pointer;
}
.platform__right-cnt {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    height: 370px;
    cursor: pointer;
    align-items: center;
}
.platform__right-cnth {
    display: flex;
    min-width: 100%;
    width: 100%;
    font-family: 'Lemon Milk Pro bb';
    padding-left: 40px;
    font-size: 50px;
    color: #2A3342;
    justify-content: flex-start;
}
.platform__right-cntsh {
    display: flex;
    min-width: 100%;
    width: 100%;
    padding-left: 40px;
    font-size: 22px;
    line-height: 1.5;
    color: #556987;
    justify-content: flex-start;
}
.blocked {
    cursor: not-allowed;
}
.inactive-currently {
    color: #e9e9e9;
}
