{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
    <link rel="stylesheet" href="{% static 'css/coursetheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/lefttab.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggler.css' %}">
    <script src="{% static 'js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
    <script src="{% static 'js/courses.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <style>
        .header-image {
    display: flex;
    min-width: 35px;
    width: 35px;
    min-height: 35px;
    height: 35px;
    background-color: transparent;
    background-position: center;
    background-image: url({{begin_path}}{{photo}});
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    cursor: pointer;
}
.main__central__mobile-photo {
    height: 80px;
    width: 80px;
    border-radius: 60px;
    border: 4px solid white;
    box-shadow: 0px 5px 10px lightgrey;
    background-image: url({{begin_path}}{{photo}});
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 600px) {
    .courses-li__rightcnt {
        background: linear-gradient(to top right, #b5becf 60%, #ffffff 130%);
    }
}
    </style>
</head>
<body>
    {% include "feed/header2.html" %}
    <div class="main__central_mobile-menu">
        <div class="main__central_mobile-menu-flex">
            <div class="main__central_mobile-menu-centre">
                <div class="main__central_mobile_profile-cnt">
                    <div class="main__central__mobile-photo"></div>
                    <div class="mobile__contacts_cnt">
                        <div class="mobile__central_cnt-name">{{name}}&nbsp;{{last_name}}</div>
                        <div class="mobile__central_cnt-country">{{country}}</div>
                    </div>
                </div>
                <div class="mobile__access_level">{{access_name}}</div>
            </div>
        </div>
        <ul class="mobile__menu_ul">
            {% if access > 1 %}
            <li class="mobile__menu_li">
                <div class="mobile__menu_round round-nonactive"></div>
                <div class="mobile__menu_text round-text-nonactive">Test</div>
            </li>
            {% endif %}
            <a href="/feed/"><li class="mobile__menu_li">
                <div class="mobile__menu_round round-nonactive mobile__user"></div>
                <div class="mobile__menu_text round-text-nonactive">My Workspace</div>
            </li></a>
            <li class="mobile__menu_li returnback">
                <div class="mobile__menu_round round-active"></div>
                <div class="mobile__menu_text round-text-active">Courses</div>
            </li>
            <a href="/feed/settings/" class="mobile__menu_li-a"><li class="mobile__menu_li returnback">
                <div class="mobile__menu_round round-nonactive mobile__settings"></div>
                <div class="mobile__menu_text round-text-nonactive">Edit Profile</div>
            </li></a>
            <li class="mobile__menu_li">
                <div class="mobile__menu_round round-nonactive mobile__help"></div>
                <div class="mobile__menu_text round-text-nonactive">Need Help?</div>
            </li>
            <a href="/feed/logout/"><li class="mobile__menu_li">
                <div class="mobile__menu_round round-exit"></div>
                <div class="mobile__menu_text round-text-exit">Log Out</div>
            </li></a>
        </ul>
        <div class="mobile__cnt-with-options">
            <div class="mobile__cnt-with-options-flex">
                <div class="mobile_option-text mobile__privace">Privacy Policy</div>
                <div class="mobile_option-text">English</div>
            </div>    
        </div>
    </div>
    <main>
        <div class="main__central-cnt">
            <div class="main__central-cnt_left">
                <div class="main__cnt_noflex">
                    <div class="main__cnt-flex">
                        <h2>Main Menu</h2>
                        <ul class="left-menu">
                            {% if access == 2 %}
                            <a href="/admin_frontend/"><li class="left-menu-items">
                                <div class="admin-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Admin</div>
                            </li></a>
                            {% endif %}
                            <a href="../"><li class="left-menu-items">
                                <div class="workspace-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">My Workspace</div>
                            </li></a>
                            <li class="left-menu-items">
                                <div class="courses-btn active-btn btn-layout"></div>
                                <div class="li-menu active-text">Courses</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="analytics-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Performance</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="friends-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Friends</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="rating-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Ratings</div>
                            </li>
                            <li class="left-menu-items opacity20">
                                <div class="goals-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Goals List</div>
                            </li>
                        </ul>
                        <h2>Settings</h2>
                        <ul class="left-menu">
                            <a href="/feed/settings/"><li class="left-menu-items">
                                <div class="profile-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Edit Profile</div>
                            </li></a>
                            <li class="left-menu-items opacity20">
                                <div class="help-btn noactive-btn btn-layout"></div>
                                <div class="li-menu nonactive-text">Need Help?</div>
                            </li>
                        </ul>
                        <div id="toggles">
                            <div class="toggle-base">
                                <div class="toggle-btn"></div>
                            </div>
                            <div class="toggle-label">Light Mode</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__central-cnt_right">
                <div class="main__cnt_noflex">
                    <div class="courses__header-cnt">   
                        <h1 class="h1courses">Explore Courses</h1>
                        <div class="courses__view_cnt">
                            <div class="courses__view_cnt_list">List</div>&nbsp;/&nbsp;
                            <div class="courses__view_cnt_list opacity20">Map</div>
                        </div>
                    </div> 
                    <div class="main__cnt_filters-pane">
                        <input class="main__cnt_filter_search" placeholder="Find">
                        <select class="main__cnt_filter tags_filter">
                            <option value="">No Tag Filter:</option>
                            <option value="Current">Current</option>
                            {% for tag in tags %}
                            <option value="{{tag.tag}}">{{tag.tag}}</option>
                            {% endfor %}
                        </select>
                        <select class="main__cnt_filter complexity_filter">
                            <option value="">Difficulty:</option>
                            <option value="Easy-peasy">Easy-peasy</option>
                            <option value="Easy">Easy</option>
                            <option value="Medium">Medium</option>
                            <option value="Hard">Hard</option>
                            <option value="Extreme">Extreme</option>
                        </select>
                    </div>
                    <ul class="courses-ul">
                        {% for course in courses %}
                        <li class="courses-li">
                            <div class="courses-li__leftcnt" style="background-color: #{{course.color}};"></div>
                            <div class="courses-li__rightcnt" style="background: linear-gradient(to right, #{{course.color}} 70%, #000000 180%);">
                                <div class="courses-li__rightcnt-cntr">
                                    <ul class="courses__tags-list">
                                        {% if course.courseid in started_courses %}
                                        <li class="courses__tags-li courses__tags-li_active">Current</li>
                                        {% endif %}
                                        {% for course_tag in course_tag %}
                                            {% if course.courseid == course_tag.courseid %}
                                                {% for tag in tags %}
                                                    {% if course_tag.tagid == tag.tagid %}
                                                        <li class="courses__tags-li">{{tag.tag}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <a href="{{course.courseid}}" style="width: 100%;">
                                        <h3>{{course.course_name}}</h3>
                                        <div class="courses__course-creator">{{course.author}}</div>
                                        <div class="courses__description">
                                            {{course.description}}
                                        </div>
                                        {% if course.courseid in started_courses %}
                                        {% if progress_tracker_dict %}
                                            {% for key, value in progress_tracker_dict.items %}
                                            {% if key == course.courseid %}
                                                {% for key2, value2 in value.items %}
                                                <div class="courses__large-cnt">
                                                    {% if key2 == 'percentage' %}
                                                    <div class="courses_progress-cnt">
                                                        <div class="courses_scale">
                                                            <div class="courses_scale-progress" style="width: {{value2}}%"></div>
                                                        </div>
                                                        <div class="courses_scale-percentage">{{value2}}&nbsp;%</div>
                                                    </div>
                                                    {% elif key2 == 'current_lesson_id' %}
                                                    {% for x, y in value2 %}
                                                    <div class="courses_progress_currentlesson">
                                                        <span>Continue from: {{x}}.{{y}}</span>
                                                    </div>
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        <div class="courses__large-cnt">
                                            <div class="course-completed-notification">Completed</div>
                                        </div>
                                        {% endif %}
                                        <!--There should be info on completed courses-->
                                        <div class="course__info_pane displaynone">
                                            <div class="course__info_cnt">
                                                
                                                {% for key, value in lessons_amount_dict.items %}
                                                {% if key == course.courseid %}
                                                <div class="lessons__amount">{{ value }}<span class="thin-txt">lessons</span></div>
                                                {% endif %}
                                                {% endfor %}
                                                {% if course.complexity == 0 %}
                                                <div class="complexity__amount">Easy-peasy</div>
                                                {% elif course.complexity == 1 %}
                                                <div class="complexity__amount">Easy</div>
                                                {% elif course.complexity == 2 %}
                                                <div class="complexity__amount">Medium</div>
                                                {% elif course.complexity == 3 %}
                                                <div class="complexity__amount">Hard</div>
                                                {% elif course.complexity == 4 %}
                                                <div class="complexity__amount">Extreme</div>
                                                {% endif %}
                                            </div>
                                            <div class="get-started">Get Started</div>
                                        </div>
                                        {% else %}
                                        <div class="courses__large-cnt" style="display: none;">
                                            <div class="courses_progress-cnt">
                                                <div class="courses_scale">
                                                    <div class="courses_scale-progress" style="width: 56%"></div>
                                                </div>
                                                <div class="courses_scale-percentage">56&nbsp;%</div>
                                            </div>
                                            <div class="courses_progress_currentlesson">Continue from: 10. Lists</div>
                                        </div>
                                        <div class="course__info_pane">
                                            <div class="course__info_cnt">
                                                {% for key, value in lessons_amount_dict.items %}
                                                {% if key == course.courseid %}
                                                <div style="display: flex;">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13.7676 8.59375C13.7676 8.16227 13.4178 7.8125 12.9863 7.8125H4.93945C4.50797 7.8125 4.1582 8.16227 4.1582 8.59375C4.1582 9.02523 4.50797 9.375 4.93945 9.375H12.9863C13.4178 9.375 13.7676 9.02523 13.7676 8.59375Z" fill="#{{course.fontcolor}}"/>
                                                    <path d="M4.93945 10.9375C4.50797 10.9375 4.1582 11.2873 4.1582 11.7188C4.1582 12.1502 4.50797 12.5 4.93945 12.5H9.82659C10.2581 12.5 10.6078 12.1502 10.6078 11.7188C10.6078 11.2873 10.2581 10.9375 9.82659 10.9375H4.93945Z" fill="#{{course.fontcolor}}"/>
                                                    <path d="M6.77594 18.4375H4.16309C3.30152 18.4375 2.60059 17.7366 2.60059 16.875V3.125C2.60059 2.26344 3.30152 1.5625 4.16309 1.5625H13.7681C14.6297 1.5625 15.3306 2.26344 15.3306 3.125V7.92969C15.3306 8.36117 15.6804 8.71094 16.1119 8.71094C16.5434 8.71094 16.8931 8.36117 16.8931 7.92969V3.125C16.8931 1.40188 15.4913 0 13.7681 0H4.16309C2.43996 0 1.03809 1.40188 1.03809 3.125V16.875C1.03809 18.5981 2.43996 20 4.16309 20H6.77594C7.20742 20 7.55719 19.6502 7.55719 19.2188C7.55719 18.7873 7.20742 18.4375 6.77594 18.4375Z" fill="#{{course.fontcolor}}"/>
                                                    <path d="M18.2764 11.3114C17.3626 10.3976 15.8757 10.3976 14.9625 11.3108L10.6733 15.5905C10.5822 15.6814 10.515 15.7933 10.4776 15.9165L9.54351 18.9917C9.4607 19.2643 9.53285 19.5604 9.73183 19.7643C9.8809 19.9171 10.0834 20 10.2911 20C10.3606 20 10.4307 19.9907 10.4996 19.9716L13.6529 19.0981C13.7827 19.0622 13.901 18.9933 13.9963 18.8982L18.2765 14.626C19.1903 13.7122 19.1903 12.2253 18.2764 11.3114ZM13.0379 17.6472L11.4514 18.0867L11.9157 16.5582L14.8098 13.6705L15.9149 14.7756L13.0379 17.6472ZM17.1722 13.5207L17.0208 13.6718L15.9159 12.5669L16.0668 12.4164C16.3714 12.1118 16.867 12.1118 17.1716 12.4164C17.4762 12.721 17.4762 13.2166 17.1722 13.5207Z" fill="#{{course.fontcolor}}"/>
                                                    <path d="M12.9863 4.6875H4.93945C4.50797 4.6875 4.1582 5.03727 4.1582 5.46875C4.1582 5.90023 4.50797 6.25 4.93945 6.25H12.9863C13.4178 6.25 13.7676 5.90023 13.7676 5.46875C13.7676 5.03727 13.4178 4.6875 12.9863 4.6875Z" fill="#{{course.fontcolor}}"/>
                                                    </svg>
                                                <div class="lessons__amount" style="color: #{{course.fontcolor}};">{{ value }} <span class="thin-txt">lessons</span></div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                <div style="display: flex;">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M9.96729 11.1657C12.923 11.1657 15.3203 8.76836 15.3203 5.81271C15.3203 2.85706 12.9229 0.476074 9.96729 0.476074C7.01165 0.476074 4.61426 2.87346 4.61426 5.81271C4.61426 8.75196 7.01161 11.1657 9.96729 11.1657ZM9.96729 1.87181C12.1348 1.87181 13.9082 3.6452 13.9082 5.81271C13.9082 7.98022 12.1348 9.75357 9.96729 9.75357C7.79982 9.75357 6.02639 7.98018 6.02639 5.81267C6.02639 3.64516 7.79978 1.87181 9.96729 1.87181Z" fill="#{{course.fontcolor}}"/>
                                                        <path d="M0.706068 19.5236H19.2939C19.688 19.5236 20 19.2116 20 18.8175C20 15.1229 16.9951 12.1016 13.2841 12.1016H6.71594C3.02135 12.1016 0 15.1065 0 18.8175C0 19.2116 0.311982 19.5236 0.706068 19.5236ZM6.71594 13.5137H13.2841C15.977 13.5137 18.1937 15.517 18.5386 18.1114H1.46141C1.80622 15.5334 4.023 13.5137 6.71594 13.5137Z" fill="#{{course.fontcolor}}"/>
                                                        </svg>
                                                {% if course.complexity == 0 %}
                                                <div class="complexity__amount" style="color: #{{course.fontcolor}};">Easy-peasy</div>
                                                {% elif course.complexity == 1 %}
                                                <div class="complexity__amount" style="color: #{{course.fontcolor}};">Easy</div>
                                                {% elif course.complexity == 2 %}
                                                <div class="complexity__amount" style="color: #{{course.fontcolor}};">Medium</div>
                                                {% elif course.complexity == 3 %}
                                                <div class="complexity__amount" style="color: #{{course.fontcolor}};">Hard</div>
                                                {% elif course.complexity == 4 %}
                                                <div class="complexity__amount" style="color: #{{course.fontcolor}};">Extreme</div>
                                                {% endif %}
                                                </div>
                                            </div>
                                            <div class="get-started">Get Started</div>
                                        </div>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        {% for course in unavaliable_courses %}
                        <li class="courses-li opacity20">
                            <div class="courses-li__leftcnt" style="background-color: #{{course.color}};"></div>
                            <div class="courses-li__rightcnt" style="background: linear-gradient(to right, #{{course.color}} 70%, #000000 180%);">
                                <div class="courses-li__rightcnt-cntr">
                                    <ul class="courses__tags-list">
                                        <li class="courses__tags-li courses__tags-li_active">Current</li>
                                        {% for course_tag in course_tag %}
                                            {% if course.courseid == course_tag.courseid %}
                                                {% for tag in tags %}
                                                    {% if course_tag.tagid == tag.tagid %}
                                                        <li class="courses__tags-li">{{tag.tag}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <a href="" style="width: 100%;">
                                        <h3>{{course.course_name}}</h3>
                                        <div class="courses__course-creator">{{course.author}}</div>
                                        <div class="courses__description">
                                            {{course.description}}
                                        </div>
                                        {% if course.courseid in started_courses %}
                                        <div class="courses__large-cnt">
                                            <div class="courses_progress-cnt">
                                                <div class="courses_scale">
                                                    <div class="courses_scale-progress" style="width: 56%"></div>
                                                </div>
                                                <div class="courses_scale-percentage">56&nbsp;%</div>
                                            </div>
                                            <div class="courses_progress_currentlesson">Continue from: 10. Lists</div>
                                        </div>
                                        <div class="course__info_pane displaynone">
                                            <div class="course__info_cnt">
                                                <div class="lessons__amount">56 <span class="thin-txt">lessons</span></div>
                                                {% if course.complexity == 0 %}
                                                <div class="complexity__amount">Easy-peasy</div>
                                                {% elif course.complexity == 1 %}
                                                <div class="complexity__amount">Easy</div>
                                                {% elif course.complexity == 2 %}
                                                <div class="complexity__amount">Medium</div>
                                                {% elif course.complexity == 3 %}
                                                <div class="complexity__amount">Hard</div>
                                                {% elif course.complexity == 4 %}
                                                <div class="complexity__amount">Extreme</div>
                                                {% endif %}
                                            </div>
                                            <div class="get-started">Get Started</div>
                                        </div>
                                        {% else %}
                                        <div class="courses__large-cnt" style="display: none;">
                                            <div class="courses_progress-cnt">
                                                <div class="courses_scale">
                                                    <div class="courses_scale-progress" style="width: 56%"></div>
                                                </div>
                                                <div class="courses_scale-percentage">56&nbsp;%</div>
                                            </div>
                                            <div class="courses_progress_currentlesson">Continue from: 10. Lists</div>
                                        </div>
                                        <div class="course__info_pane">
                                            <div class="course__info_cnt">
                                                <div class="lessons__amount">56 <span class="thin-txt">lessons</span></div>
                                                {% if course.complexity == 0 %}
                                                <div class="complexity__amount">Easy-peasy</div>
                                                {% elif course.complexity == 1 %}
                                                <div class="complexity__amount">Easy</div>
                                                {% elif course.complexity == 2 %}
                                                <div class="complexity__amount">Medium</div>
                                                {% elif course.complexity == 3 %}
                                                <div class="complexity__amount">Hard</div>
                                                {% elif course.complexity == 4 %}
                                                <div class="complexity__amount">Extreme</div>
                                                {% endif %}
                                            </div>
                                            <div class="get-started">Get Started</div>
                                        </div>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
    {% include "home/footer.html" %}
</body>
<link rel="stylesheet" href="{% static 'css/courses__media.css' %}">
</html>

