{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" href="{% static 'css/admin_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_general_addlevel.css' %}">
    <link rel="stylesheet" href="{% static 'css/lefttab.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggler.css' %}">
    <script src="{% static 'js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'js/admin_general.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    

</head>
<body>
    {% include "feed/header2.html" %}
    <main>
        <div class="main__central-cnt">
            <div class="main__central-cnt_left">
                <div class="main__cnt_noflex">
                    <div class="main__cnt-flex">
                        {% include "admin__left_pane/admin__left_pane.html" %}
                    </div>
                </div>
            </div>
            <div class="main__central-cnt_right">
                <div class="main__cnt_noflex">
                    <section class="admin-section-main">
                        <div class="admin__header" style="margin-bottom: 20px;">Existing courses</div>
                        <div class="admin__addlevel_alllevels-cnt">
                            <table style="border: 1px solid lightgrey;">
                                <col>
	                            <col>
	                            <col>
                                <col>
	                            <col style="width:200px">
	                            <col>
                                <col>
	                            <col>
	                            <col>
                                <thead>
                                <tr class="admin_panel__td" style="background-color: lightgrey; border: 1px solid lightgrey;">
                                    <th class="admin_panel__td">Course ID</th>
                                    <th class="admin_panel__td">Course</th>
                                    <th class="admin_panel__td">Icon</th>
                                    <th class="admin_panel__td">Color</th>
                                    <th class="admin_panel__td">Description</th>
                                    <th class="admin_panel__td">Complexity</th>
                                    <th class="admin_panel__td">Author</th>
                                    <th class="admin_panel__td">Author ID</th>
                                    <th class="admin_panel__td">Avaliable</th>
                                </tr>
                                </thead>
                                {% for course in courses %}
                                <tr class="admin_panel__td">
                                    <td class="admin_panel__td">{{course.courseid}}</td>
                                    <td class="admin_panel__td">{{course.course_name}}</td>
                                    <td class="admin_panel__td" style="background-image: url('{{begin_path}}{{course.icon}}'); background-size: 50%;"></td>
                                    <td class="admin_panel__td">#{{course.color}}</td>
                                    <td class="admin_panel__td">{{course.description}}</td>
                                    <td class="admin_panel__td">{{course.complexity}}</td>
                                    <td class="admin_panel__td">{{course.author}}</td>
                                    <td class="admin_panel__td">{{course.authorid}}</td>
                                    {% if course.avaliable == True %}
                                    <td class="admin_panel__td">+</td>
                                    {% else %}
                                    <td class="admin_panel__td"></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="admin__header_cnt">
                            <div class="admin__header" style="margin-top: 40px;">Add Course</div>
                            <!--<div class="admin__header_q">Help</div>-->
                        </div>
                        <!--<form method="post" class="admin__addlevel_form">
                            {% csrf_token %}
                            <div class="admin__form_header l0-card-check">Security cards need:</div>
                            <div class="admin__addlevel_password_check">
                                <img src="{% static 'img/L0 card.svg' %}" width="60" height="130" title="L0 pass: your admin password">
                                <div class="admin__form_header l0-card-check">L0 card check:</div>
                                <input class="admin__panel_settings_input l0-card-check-input" type="password">
                            </div>
                            <div class="admin__addlevel_password_check">
                                <div class="admin__form_header l0-card-check">Rating ID</div>
                                <input class="admin__panel_settings_input admin__panel_addlevel_rid" value="{{levels_amount}}">
                            </div>
                            <div class="admin__addlevel_password_check">
                                <div class="admin__form_header l0-card-check">Rating Material</div>
                                <input class="admin__panel_settings_input admin__panel_addlevel_rm">
                            </div>
                            <div class="admin__addlevel_password_check">
                                <div class="admin__form_header l0-card-check">Rating EXP (exp below level)</div>
                                <input class="admin__panel_settings_input admin__panel_addlevel_xp">
                            </div>
                            <div class="admin__addlevel_password_check">
                                <div class="admin__form_header l0-card-check">Badge</div>
                                <input class="admin__panel_settings_fileinput admin__panel_addlevel_badge" type="file">
                            </div>
                            <div class="admin__submin-btn admin__panel-addlevel-btn" style="cursor: pointer;">Add Level</div>
                        </form>-->
                        <form method="post" enctype="multipart/form-data" class="test-form">
                            {% csrf_token %}
                            {{ ourform.as_p }}
                            <button type="submit" class="admin__submin-btn">Submit</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </main>
    {% include "home/footer.html" %}
</body>
<script src="{% static 'js/admin_general_addlevel.js' %}"></script>
</html>

