{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Courses</title>
    <link rel="stylesheet" href="{% static 'css/admin_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_general_addlevel.css' %}">
    <link rel="stylesheet" href="{% static 'css/lefttab.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggler.css' %}">
    <script src="{% static 'js/jQueryv3.6.0.min.js' %}"></script>
    <script src="{% static 'js/admin_general.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

</head>
<body>
    {% include "feed/header2.html" %}
    <main>
        <div class="main__central-cnt">
            <div class="main__central-cnt_left">
                <div class="main__cnt_noflex">
                    <div class="main__cnt-flex">
                        {% include "admin__left_pane/admin__left_pane.html" %}
                    </div>
                </div>
            </div>
            <div class="main__central-cnt_right">
                <div class="main__cnt_noflex">
                    <section class="admin-section-main">
                        <div class="admin__header_cnt">
                            <div class="admin__header">Add Level</div>
                            <!--<div class="admin__header_q">Help</div>-->
                        </div>
                        <form class="admin__addlevel_form" method="post">
                            <div class="admin__addlevel_password_check">
                                <div class="admin__form_header l0-card-check">L0 card check:</div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </main>
    {% include "home/footer.html" %}
</body>
</html>

